@import "../sass/h5bp";
@import "./_colours";
@import "../sass/mixins";
@import "../sass/base";
@import "../sass/waste";
@import "../fixmystreet-uk-councils/societyworks-footer";

body {
    font-family: $body-font;
    color: $primary_b;
}

#site-header {
    border-top-width: 0;
}

#site-logo {
    width: 3.43rem;
    height: 4rem;
    @include svg-background-image('https://www.kingston.gov.uk/site/dist/images/site-logo');
    background-size: contain;

    .mappage & {
        height: $mappage-header-height;
    }
}


a,
.fake-link {
    &:hover,
    &:active {
        color: $link-color;
    }
    &:focus {
        background-color: $link-color;
        color: $white;
    }
}

.fake-link:focus,
#nav-link.focussed,
.olButton:focus {
    text-decoration: underline;
    
}

.olButton:focus {
    z-index: 1; // pull forward, so entire outline is visible
}

.kingston-footer {
    background: $primary_b;
    color: $white;
    padding: 1.5em 0;

    ul {
        margin: 0;
        font-size: 12px;
    }

    li {
        list-style: none;
        margin: 0.66em 0;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }
}

#report-cta {
    border-color: $white;
}

#front-main {
    text-align: left;

    #postcodeForm {
        background: transparent;

        div {
            border: none;
            background: transparent;

            input#pc {
                @include kingston-form-input($margin: 0 0.5em 0 0, $padding: 5px 0.5em);
                font-size: 1.25em;
            }

            input#sub {
                @include kingston-button-primary();
                border-radius: 5px;
                font-size: 1.25em;
            }
        }
    }

    h2 {
        font-style: inherit;
    }
}

a#geolocate_link {
    @include kingston-button-secondary();
}

h1, h2, h3, .h1, .h2, .h3 {
    font-family: $body-font;
}

h1 {
    color: $primary_b;
    font-size: 2em;
    line-height: 1.25em;
    font-weight: bold;
}

label {
    @include kingston-form-label();
}

.form-control {
    @include kingston-form-input();

    .form-txt-submit-box & {
        margin: 0 0 0.5em 0;
    }
}

input[type="submit"] {
    border-radius: 5px;
}

.multi-select-button {
    // Focus style, copied from kingston-form-input() mixin
    &:focus {
        outline: none;
        border: 1px solid #52A8EC;
        box-shadow: 0 1px 3px #000, 0 0 8px #52A8EC;
    }
}

input.form-error,
textarea.form-error {
    background: #FBE3E4;
    border: 1px solid #FBC2C4;
    border-radius: 4px;
}

div.form-error,
p.form-error {
    background: transparent;
    padding: 0;
    border-radius: 0;

    color: #A22C2E;
    font-weight: 700;
}

.dropzone {
    padding: 1.5em;
}

#front_stats {
    color: $blue;
    background: transparent;
}

.btn,
.green-btn {
    @include kingston-button-primary();
}

body.twothirdswidthpage .content .sticky-sidebar {
    aside {
        margin: 1em 0 2em 0;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.5em;
    }

    li {
        margin: 0 0.5em;
    }
}

// As per Kingston Website style guide
.skiplink:focus {
    border: 1px solid #FFFFFF;
    background: #2C2C2C;
    padding: 6px;
    color: #FFFFFF;
    min-width: 150px;
    outline: none;
    text-align: center;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #5F5F5F;

    top: 0.5em;
    left: 0.5em;
}

.item-list__item--empty {
    color: $blue;
}

.box-warning {
    background-color: $yellow;
}

.segmented-control.segmented-control--radio {
    input:checked+label {
        background: $blue !important;
        color: $white !important;
        &:hover {
            background-color: $blue !important;
            color: white !important;
            text-decoration: none !important;
            cursor: default;
        }
    }
    label.btn {
        background: $white !important;
        border-color: $blue;
        color: $blue !important;
        &:hover {
            background: $white !important;
            color: $blue !important;
            text-decoration: underline !important;
        }
        &:last-child {
            border-right-width: 4px;
            border-left-width: 2px;
        }
    }
}

.my-account-buttons {
    text-align: right;
}

.fms-admin-info {
    border-color: $green;
    background-color: mix($green, $white, 15%);
}

//WasteWorks
.waste {
    .content[role="main"] {
        border-top: 4px solid $green;
    }

    form.waste {
        div.govuk-form-group {
            display: inline-block;

            &:first-child {
                vertical-align: bottom;
            }
        }

        .govuk-button {
            height: 39px;
            line-height: 1rem;
        }
    } 
    .govuk-button {
        @include kingston-button-primary;
        border-radius: 5px;
    }
}
